@model Autoglass.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover Registro</h1>

<h3>Confirma a remoção do regristro:</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.validade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodForne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodForne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescFornec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescFornec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodProduto" />
        <input type="submit" value="Confirmar" class="btn btn-danger" />
        <a class="btn btn-success" asp-action="Index">Voltar a Listagem</a>
    </form>
</div>
